# Branton Dawson: Exploratory Data Analysis Project

    Author: Branton Dawson
    Repository: datafun-04-eda


Import Section:
1. pandas as pd
2. seaborn as sns
3. matplotlib as plt
4. from matplotlib.axes import Axes

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.axes import Axes
print("Starting out with Jupyter.")

Starting out with Jupyter.

In [7]:
# Load the Iris dataset into pandas DataFrame
iris_df: pd.DataFrame = sns.load_dataset('iris')

# List column names
iris_df.columns

# Inspect first few rows of the DataFrame
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
8 * (12 - 3) / 2

36.0